.root{

    -fx-font: 12pt "DaxlineOT-Medium";
    -fx-background-image: url('./travelbasys_logo.JPG');
	-fx-background-repeat: no-repeat;
	-fx-background-position: right top;

    
    
}

#search-button{
    -fx-font: 12pt "DaxlineOT-Medium";
    -fx-background-color: rgb(242,148,2);
    -fx-border-color: rgb(255, 89, 23);
    -fx-border-radius: 4;
    -fx-padding: 3 6 6 6;
    -fx-font: 20pt "DaxlineOT-Medium";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

.header1{
    -fx-font: 30pt "DaxlineOT-Medium";
}

.text-field { 
    -fx-border-color: rgb(242,148,2); 

}

.menu-bar{  
   -fx-background-color: rgb(226,0,46);  
}


