.root{

    -fx-font: 12pt "DaxlineOT-Medium";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-background-image: url('./TB_Logo_Querformat.jpg');
    -fx-background-position: center center; 
    -fx-background-size: 800 600;


    
    
}

.button{
    -fx-text-fill: rgb(255, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 4;
    -fx-padding: 3 6 6 6;
}

#search-button{
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 4;
    -fx-padding: 3 6 6 6;
    -fx-font: 20pt "DaxlineOT-Medium";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

#welcome{
-fx-font: 30pt "DaxlineOT-Medium";
}   








    #pane{
        -fx-background-image: url('./TB_Logo_Querformat.jpg');   
        -fx-background-size: 800 600;
        -fx-background-position: center center;
        -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
    }

